body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.header h1 {
  cursor: pointer;
}

.header img {
  width: 100px;
  object-fit: contain;
  cursor: pointer;
}

.searchbar {
  display: flex;
  justify-content: center;
}

.searchbar input {
  width: 250px;
}

.searchbar button {
  width: 35px;
}

.mood-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 10%;
}

.mood-container > a {
  text-decoration: none;
}

.mood-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 18rem;
  height: 9rem;
  margin: 1rem 1rem 0 1rem;
}

.mood-item .mood-name {
  font-size: 35px;
  color: white;
  font-style: italic;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.mood-item .short-desc {
  font-size: 12px;
  color: black;
}

.song-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.song-list #info-anchor {
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;
}

.song-item {
  margin-top: 1rem;
  display: flex;
  width: 835px;
  border: 1px solid #e5e5e5;
  box-shadow: 3px 3px 5px lightgrey;
}

.song-item .thumbnail {
  width: 232px;
  height: 232px;
}

.song-item .thumbnail img {
  width: 232px;
  height: 232px;
}

.song-item .song-info {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 40px;
}

.song-info .song-title {
  font-size: 25px;
  font-weight: 900;
}

.song-info .song-artist {
  font-size: 17px;
  font-weight: 300;
}

.song-info .song-lyrics {
  font-size: 13px;
  color: #696969;
}

.song-item .external-link {
  width: 144px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.song-item .external-link a {
  text-decoration: none;
  color: black;
}

.external-link-anchor-icon .youtube {
  color: #ff0000;
}
.external-link-anchor-icon .spotify {
  color: #1ed760;
}
.external-link-anchor-icon .melon {
  color: #00cd3b;
  width: 16px;
  height: 16px;
}

.external-link-anchor-text {
  position: relative;
  top: -4px;
  left: 3px;
}

.detail-header {
  display: flex;
}

.detail-header .go-back-button {
  cursor: pointer;
}

.detail-header .go-back-button svg {
  width: 32px;
  height: 32px;
  padding: 15px;
  padding-top: 17px;
}

.detail-header .header {
  font-size: 12px;
  margin-left: 20px;
}

.detail-header .header img {
  width: 68px;
}

.detail-header .searchbar {
  margin-left: 19%;
  height: 27px;
  padding: 24px;
}

.song-detail {
  margin: 0 18%;
}

.song-detail .song-info-detail img {
  width: 450px;
}

.song-detail .song-info-detail {
  display: flex;
}

.song-detail .song-info-detail .song-info-detail-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 4%;
}

.song-detail .song-info-detail .song-info-detail-text .song-title {
  font-size: 25px;
  font-weight: 900;
  margin: 7% 0;
}

.song-detail .song-info-detail .song-info-detail-text .song-artist {
  font-size: 17px;
  font-weight: 300;
  /* margin-bottom: 20%; */
}

.song-detail .song-info-detail .song-info-detail-text .mood-tags {
  /* margin-bottom: 40%; */
  color: #767676;
  font-size: 13px;
}

.song-detail .song-info-detail .song-info-detail-text .mood-tags span {
  border: 2px solid;
  border-radius: 50px;
  padding: 10px;
  margin: 0 10px;
  cursor: pointer;
}

.song-detail .song-info-detail .song-info-detail-text .external-link {
  display: flex;
  justify-content: flex-start;
}

.song-detail .song-info-detail .song-info-detail-text .external-link a {
  text-decoration: none;
  color: black;
  border: 1px solid #ffffff;
  border-radius: 4px;
  /* background: #f7f7f7; */
  padding: 3px 5px;
  font-weight: 500;
}

.song-info-detail-text .external-link-anchor-text {
  position: relative;
  left: 3px;
  top: -4px;
}

.song-info-detail-text .external-link-anchor-icon .melon {
  width: 16px;
  height: 16px;
}

.lyrics-info .song-lyrics {
  line-height: 2;
  color: #767676;
  font-size: 14px;
  height: 170px;
  overflow: hidden;
}

.lyrics-info .song-lyrics.lyrics-on {
  height: auto;
  overflow: visible;
}

.fold-button {
  position: relative;
  left: 45%;
  background: white;
  border: none;
}

.fold-button span {
  padding-right: 3px;
}

.footer {
  width: 100%;
  height: 120px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: orange;
}

.footer .copyright {
  padding-left: 55px;
}

.footer .contact-us .title {
  margin-bottom: 10px;
  font-size: 20px;
}

.footer .contact-us .developers {
  padding-left: 5px;
}

.footer .contact-us .profile {
  font-size: 18px;
}

.footer .contact-us a {
  color: black;
  margin-right: 20px;
}

.footer .contact-us a > svg {
  width: 20px;
  height: auto;
}

.related-video .video-tags {
  display: flex;
  justify-content: space-around;
}
