body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.header img {
  width: 100px;
  object-fit: contain;
}

.searchbar {
  display: flex;
  justify-content: center;
}

.searchbar input {
  width: 250px;
}

.searchbar button {
  width: 35px;
}

.mood-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 10%;
}

.mood-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 18rem;
  height: 9rem;
  margin: 1rem 1rem 0 1rem;
}

.mood-item .mood-name {
  font-size: 35px;
  color: white;
  font-style: italic;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.mood-item .short-desc {
  font-size: 12px;
}

.song-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.song-item {
  margin-top: 1rem;
  display: flex;
  width: 835px;
  border: 1px solid #e5e5e5;
  box-shadow: 3px 3px 5px lightgrey;
}

.song-item .thumbnail {
  width: 232px;
  height: 232px;
}

.song-item .thumbnail img {
  width: 232px;
  height: 232px;
}

.song-item .song-info {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  padding-left: 40px;
}

.song-info .song-title {
  font-size: 25px;
  font-weight: 900;
}

.song-info .song-artist {
  font-size: 17px;
  font-weight: 300;
}

.song-info .song-lyrics {
  font-size: 13px;
  color: #696969;
}

.song-item .external-link {
  width: 144px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.song-item .external-link a {
  text-decoration: none;
  color: black;
}

.external-link-anchor-icon .youtube {
  color: #ff0000;
}
.external-link-anchor-icon .spotify {
  color: #1ed760;
}
.external-link-anchor-icon .melon {
  color: #00cd3b;
  width: 16px;
  height: 16px;
}

.external-link-anchor-text {
  position: relative;
  top: -4px;
}

.detail-header {
  display: flex;
}

.detail-header .go-back-button svg {
  width: 32px;
  height: 32px;
  padding: 15px;
}

.detail-header .header {
  font-size: 12px;
  margin-left: 20px;
}

.detail-header .header img {
  width: 68px;
}

.detail-header .searchbar {
  margin-left: 19%;
  height: 27px;
  padding: 24px;
}
