body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-family: 'Noto Serif', serif;
}

.header h1 {
  cursor: pointer;
  margin: 1rem 0;
  margin-left: 1.2rem;
}

.header img {
  width: 4rem;
  object-fit: contain;
  cursor: pointer;
}

.searchbar {
  display: flex;
  justify-content: center;
}

.searchbar input {
  width: 250px;
}

.searchbar button {
  width: 35px;
}

.mood-container {
  display: grid;
  font-family: 'Noto Serif KR', serif;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  width: 68%;
  margin: auto;
  margin-top: 1rem;
}

.mood-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 12rem;
  height: 9rem;
  margin: 0.5rem 0;
  border-radius: 36%;
  transition: all 0.5s;
}

.mood-item:hover {
  transform: scale(1.3);
}

.mood-item .mood-name {
  font-size: 1.8rem;
  color: white;
  font-style: italic;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.mood-item .short-desc {
  font-size: 12px;
  color: black;
}

.song-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.song-list #info-anchor {
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;
}

.song-item {
  margin-top: 1rem;
  display: flex;
  width: 835px;
  border: 1px solid #e5e5e5;
  box-shadow: 3px 3px 5px lightgrey;
}

.song-item .thumbnail {
  width: 232px;
  height: 232px;
}

.song-item .thumbnail img {
  width: 232px;
  height: 232px;
}

.song-item .song-info {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 40px;
  font-family: 'Noto Sans KR', sans-serif;
}

.song-info .song-title {
  font-size: 25px;
  font-weight: 900;
  font-family: 'Noto Serif KR', serif;
}

.song-info .song-artist {
  font-size: 17px;
  font-weight: 300;
}

.song-info .song-lyrics {
  font-size: 13px;
  color: #696969;
}

.song-item .external-link {
  width: 144px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Noto Sans', sans-serif;
}

.song-item .external-link a {
  color: black;
}

.external-link-anchor-icon .youtube {
  color: #ff0000;
}
.external-link-anchor-icon .spotify {
  color: #1ed760;
}
.external-link-anchor-icon .melon {
  color: #00cd3b;
  width: 20px;
  height: 20px;
}

.external-link-anchor-text {
  position: relative;
  top: -4px;
  left: 3px;
}

.no-song {
  position: relative;
  padding: 15.2% 0px;
  text-align: center;
}

.detail-header {
  display: flex;
}

.detail-header .go-back-button {
  cursor: pointer;
}

.detail-header .go-back-button svg {
  width: 32px;
  height: 32px;
  padding: 15px;
  padding-top: 17px;
}

.detail-header .header {
  font-size: 12px;
  margin-left: 38rem;
}

.detail-header .header img {
  width: 2rem;
}

.detail-header .header h1 {
  margin-left: 0.8rem;
}

.detail-header .searchbar {
  margin-left: 19%;
  height: 27px;
  padding: 24px;
}

.song-detail {
  margin: 0 18%;
  font-family: 'Noto Sans KR', sans-serif;
}

.song-detail .song-info-detail img {
  width: 450px;
}

.song-detail .song-info-detail {
  display: flex;
}

.song-detail .song-info-detail .song-info-detail-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 4%;
}

.song-detail .song-info-detail .song-info-detail-text .song-title {
  font-size: 25px;
  font-weight: 900;
  margin: 7% 0;
  font-family: 'Noto Serif KR', serif;
}

.song-detail .song-info-detail .song-info-detail-text .song-artist {
  font-size: 17px;
  font-weight: 300;
}

.song-detail .song-info-detail .song-info-detail-text .mood-tags {
  color: #424242;
  font-size: 13px;
}

.song-detail .song-info-detail .song-info-detail-text .mood-tags span {
  border: 2px solid;
  border-radius: 50px;
  padding: 10px;
  margin: 0 10px;
  cursor: pointer;
}

.song-detail .song-info-detail .song-info-detail-text .external-link {
  display: flex;
  justify-content: flex-start;
}

.song-detail .song-info-detail .song-info-detail-text .external-link a {
  color: black;
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 3px 5px;
  font-weight: 500;
}

.song-info-detail-text .external-link-anchor-text {
  position: relative;
  left: 3px;
  top: -4px;
}

.song-info-detail-text .external-link-anchor-icon .melon {
  width: 20px;
  height: 20px;
}

.lyrics-info .song-lyrics {
  line-height: 2;
  color: #424242;
  font-size: 14px;
  height: 170px;
  overflow: hidden;
}

.lyrics-info .song-lyrics.lyrics-on {
  height: auto;
  overflow: visible;
}

.fold-button {
  position: relative;
  left: 46.4%;
  background: white;
  border: none;
}

.fold-button span {
  padding-right: 3px;
}

.footer {
  width: 100%;
  height: 95px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: orange;
  font-family: 'Noto Serif KR', serif;
}

.footer .copyright {
  margin-left: 17%;
}

.footer .footer-logo {
  margin-left: 22.1%;
  margin-right: 21.2%;
}

.footer .footer-logo img {
  width: 36px;
  padding-top: 10px;
}

.footer .contact-us .title {
  margin-bottom: 10px;
  font-size: 0.9rem;
}

.footer .contact-us .developers {
  padding-left: 5px;
  font-size: 0.9rem;
  display: flex;
}

.footer .contact-us a {
  color: black;
  margin-right: 20px;
}

.footer .contact-us a > svg {
  width: 20px;
  height: auto;
}

.related-video .video-tags {
  display: flex;
  justify-content: space-around;
}

/* 로그인 CSS */
.auth-template-container {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #fff6e6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-template-container > .white-box {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.025);
  padding: 2rem;
  width: 360px;
  background-color: white;
  border-radius: 2px;
}

.auth-template-container > .white-box > .logo-area {
  display: block;
  padding-bottom: 2rem;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
}

.auth-template-container > .white-box > .logo-area > a {
  color: orange;
}

.auth-form-container > h3 {
  margin: 0;
  color: #ffb226;
  margin-bottom: 1rem;
}

.auth-styled-form {
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid #ffc966;
  padding-bottom: 0.5rem;
  outline: none;
  width: 100%;
}

.auth-styled-form:focus {
  /* color: ; */
  border-bottom: 1px solid #ffae19;
}

.auth-styled-form + .auth-styled-form {
  margin-top: 1rem;
}

.auth-footer {
  margin-top: 2rem;
  text-align: right;
}

.auth-footer > a {
  color: #ffce73;
  text-decoration: underline;
}

.auth-footer > a:hover {
  color: #ffaa0d;
}

.auth-form-btn {
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.25rem 1rem;
  color: white;
  outline: none;
  cursor: pointer;
  margin-top: 1rem;
  background-color: limegreen;
}
.auth-form-btn:hover {
  background-color: #7ade7a;
}

.fullwidth {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  width: 100%;
  font-size: 1.125rem;
}
